<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>李白诗词</title>
</head>
<body>
  <div id="container" align="center">
      <div id="nav">
          <p>将进酒 | 送友人 | 静夜思</p>
          <hr/>
          <div id="content">
              <img src="../static/1.jpg" alt=""> <!-- ./当前目录(或者不写, 默认当前目录)  ../上一级目录-->
              <h1>将进酒</h1>
              <p></p>
              <p>君不见黄河之水天上来②，奔流到海不复回。</p>
              <p>君不见高堂明镜悲白发③，朝如青丝暮成雪④。</p>
              <p>人生得意须尽欢⑤，莫使金樽空对月⑥。</p>
              <p>天生我材必有用⑦，千金散尽还复来⑧。</p>
              <p>烹羊宰牛且为乐，会须一饮三百杯⑨。</p>
              <p>岑夫子⑩，丹丘生⑪，将进酒，杯莫停⑫。</p>
              <p>与君歌一曲⑬，请君为我倾耳听⑭。</p>
              <p>钟鼓馔玉不足贵⑮，但愿长醉不复醒⑯。</p>
              <p>古来圣贤皆寂寞⑰，惟有饮者留其名。</p>
              <p>陈王昔时宴平乐⑱，斗酒十千恣欢谑⑲。</p>
              <p>主人何为言少钱⑳，径须沽取对君酌㉑。</p>
              <p>五花马㉒、千金裘㉓，呼儿将出换美酒㉔，与尔同销万古愁㉕。</p>
          </div>
          <hr/>
          <div id="exp">
              <p>1.岑夫子: 人名</p>
              <p>2.丹丘生: 人名</p>
          </div>
      </div>
  </div>
</body>
</html>