<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phone</title>
    <style>
        .pic {display:inline-block;width:200px; vertical-align:top;margin:10px;}
        .info { display:inline-block; width:500px;}
        .price { margin: 10px;color:red; }
        h3 { display:inline-block;}}
        .pl {color:#888;}
    </style>
</head>
<body>
    <div>
        <div class="pic">
        <img width="200" id="image" src='../static/荣耀9i.jpeg'>
        </div>
        <div class="info">
            <div class="title">
            <h3 id="title" style="display:inline-block">荣耀 9i</h3>
            </div>
            <div class="mark">
            <span class="pl">品牌</span>:<span name="mark">华为</span>
            </div>
            <div class="date">
            <span class="pl">生产日期</span>:<span name="date">2016-12-01</span>
            </div>
            <div class="price">
            <span class="pl">价格</span>:<span name="price">¥1200.00</span>
            </div>
            <div>简介:</div>
            <div class="detail">
            荣耀 9i 4GB+64GB 幻夜黑 <a href="#">移动联通</a>电信 4G 全面屏手机
            <a href="#">双卡双待</a>
            </div>
        </div>
    </div>
</body>
</html>

